.toggleOptions {
    --radius: 26px;
    .selected {
        color: black !important;
    }

    .indicator {
        background-color: var(--cyan-300) !important;
        border-radius: var(--radius);
        height: calc(100% - 4px) !important;
        margin-top: 2px;
        will-change: transform;
        transform: translateZ(0);
    }
}

@media screen and (max-width: 1024px) {
    .toggleOptions {
        .indicator {
            --radius: 26px;
            transition: transform 0.2s ease-out;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .toggleOptions .indicator {
        transition: none;
    }
}