.toggleOptions {
    --radius: 0px;

    .selected {
        color: black !important;
    }

    .indicator {
        background-color: var(--cyan-300) !important;
        border-radius: var(--radius);
        height: calc(100% - 4.05px) !important;
        margin-top: 2px;
    }
}


/*

Tablet : (min-width: 600px) and (max-width: 1024px)
Laptop : (min-width: 1024px)

*/

/* @media screen and (max-width: 770px) { */
@media screen and (max-width: 1024px) {
    .toggleOptions .indicator {
        --radius: 26px;
    }
}