.alumni {
  padding: 4.6rem 0 1rem 0;
}

.heading {
  text-align: center;
}

.heading-secondary {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  margin-bottom: 3.4rem;
}

.Alu-company-image-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

.Alu-company-image {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  min-width: 100%;
  animation: sponser-scroll 10s linear infinite;
}

.Alu-company-image img {
  height: 2rem;
  margin-right: 3rem;
  filter: brightness(0.5);
}

@keyframes sponser-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.Alu-company-image-wrapper:hover .Alu-company-image {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .Alu-company-image img {
    height: 2.4rem;
  }
}
@media (max-width: 480px) {
  .Alu-company-image-wrapper {
    display: flex;
    justify-self: flex-start;
    overflow: hidden;
    white-space: nowrap;
  }

  @keyframes sponser-scr {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .Alu-company-image-wrapper .Alu-company-image {
    display: flex;
    gap: 1rem;
    animation: sponser-scr 10s linear infinite;
  }

  .Alu-company-image-wrapper .Alu-company-image {
    flex-shrink: 0;
  }

  .Alu-company-image img {
    height: 1.5rem;
  }
}
