.toggleOptions {
    --radius: 0px;

    .selected {
        color: black !important;
    }

    .indicator {
        background-color: var(--cyan-300) !important;
        border-radius: var(--radius);
        height: calc(100% - 4.05px) !important;
        margin-top: 2px;
    }
}


@media screen and (max-width: 768px) {
    .toggleOptions .indicator {
        --radius: 26px;
    }
}

.ribbon {
    --w: 1.6rem;
    --h: 4em;
    width: var(--w);
    height: var(--h);
    background-color: var(--cyan-300);
    box-shadow: 1px 0 2px 0px black;

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: calc(var(--w)/-2);
        border-left: calc(var(--w)/2) solid var(--cyan-300);
        border-right: calc(var(--w)/2) solid var(--cyan-300);
        border-bottom: calc(var(--w)/2) solid transparent;
        box-shadow: 0px -1px 0px 0px var(--cyan-300);
    }
}